body {
  background-color: #faf8f8;
  width: 100%;
  height: 100%;
  font-family: Times New Roman;
  max-width: 40rem;
  margin: 0 auto;
  padding: 1.5rem;
}
img {
  max-width: 98%;
}
a {
  color: #333;
  text-decoration: none;
  text-shadow: none;
  font-family: NType, Courier, monospace;
}
a:hover {
  text-decoration: underline;
}
@font-face {
  font-family: NTypeMono;
  src: url(../NType82Mono-Regular.otf);
}
@font-face {
  font-family: NType;
  src: url(../NType82-Regular.otf);
}

h1,
h2,
h3 {
  font-family: NType, sans-serif;
}

code {
  font-family: NTypeMono, monospace;
  font-size: 0.9em;
  padding: 0.1em;
  background-color: #333;
  color: #faf8f8;
}
li {
  list-style-type: square;
}
p {
  text-indent: 1em;
}
.subheading {
  font-family: NTypeMono, sans-serif;
}
